# Python & Jupyter
__pycache__/
*.py[cod]
*$py.class
venv/
myenv/
.env
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Frontend (CRITICAL)
node_modules/
dist/
build/

# Database & System
*.db
*.sqlite3
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/